
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="col-xs-12">
        <h2>New Book</h2>
        <%= render 'form', book: @book %>
        <%= link_to 'Back', books_path, class: "btn btn-default btn-sm btn_B"  %>
      </div>
    </div>
  </div>
