/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
  margin: 0px;
  padding: 0px;
}

h1{
  margin: 10px 0px;
}

h2{
  margin: 30px 0px 30px;
}

 ul{
   list-style-type: none;
   margin: 0px;
   padding: 10px 0px;
   overflow: scroll;
 }

ul img{
  max-width: 100%;
  margin: 0px 0px 10px;
  padding: 0px;
  border: 1px solid #000;
}
 ul ul li{
  padding: 5px 5px 5px 0px;
  float:left;
 }

 ul ul:after{
  content: "";
  display: block;
  clear: both;
 }

 .each_book{
  max-height: 300px;
  margin: 10px 0px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: scroll;
 }

 .form-group ul{
   margin: 0px;
   padding: 0px;
   border :0px solid #000;
 }

 .form-group ul li{
   margin: 0px;
   padding: 0px;
   border :0px solid #000;
 }

.detail{
  font-size:15px;
}

.detail li{
  padding: 0px 0px 10px 0px;
}

.btn_A{
  color: #fff;
  background-color: #2999af;
}

a.btn_A{
  color: #fff;
}

a.btn_A:visited{
  color: #fff;
}

a.btn_B{
  color: #fff;
  background-color: #000;
}

a.btn_B:hover{
  color: #fff;
  background-color: #ccc;
}


a.btn_B:visited{
  color: #fff;
  background-color: #000;
}

a{
  color: #2999af;
}

a:visited{
  color: #2999af;
}

.upload_image{
background-color: #999;
background-image: none;
border-radius: 5px;
color: #FFF;
padding: 5px 10px 5px 10px;
margin: 10px 0px;
width:110px;
}
